body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  height: 550px;
  background: #A6B8AD url("../img/chernobyl-HBO-poster.jpg");
  background-size: 100%;
  font-family: "Oswald";
}

header h1 {
  margin: 0 0 0 25px;
  padding: 15px 0 0 0;
  font-size: 14pt;
}

header .lastname {
  font-size: 25pt;
}

header p {
margin: 0;
font-size: 14px;
position: relative;
bottom: 10px;
margin-left: 80px;
}

main {
  font-family: "Oswald";
}

main h2 {
  margin: 0;
  padding: 60px 40px 0px 40px;
  font-weight: "bold";
  font-size: 27pt;
}

main p {
  margin: 0;
  padding: 0px 40px 60px 40px;
  font-size: 13pt;
}

}