body {
  max-width: 375px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  height: 550px;
  background: #A6B8AD url("../img/chernobyl-HBO-poster.jpg");
  background-size: 100%;
  font-family: "Oswald";
}

header h1 {
  margin: 0 0 0 25px;
  padding: 15px 0 0 0;
  font-size: 14pt;
}

header .lastname {
  font-size: 25pt;
}

header p {
margin: 0;
font-size: 14px;
position: relative;
bottom: 10px;
margin-left: 80px;
}

main {
  font-family: "Oswald";
}

main h2 {
  margin: 0;
  padding: 60px 40px 0px 40px;
  font-weight: "bold";
  font-size: 27pt;
}

main p {
  margin: 0;
  padding: 0px 40px 60px 40px;
  font-size: 13pt;
}

main .composer {
  background-color: black;
  color: #D6D6D6;
}

main .movie {
  background-color: #3E716A;
  color: #ffffff;
}

main .movie h2 {
  color: #2B3833;
}

main .director {
  background-color: #040505;
  color: #E8E8E8;
}

main .director h2 {
  color: #455B54;
}

main .music .player {
  background: linear-gradient(#3E716A, #040505 90%);
  padding: 75px 55px;
}

main .music .player img {
  border-radius: 10px;
  width: 80%;
  margin: auto auto 30px auto;
}

main .music .player h2 {
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

main .music p {
  color: #ddd;
  background: linear-gradient(#040505 6%, #3E716A);
}

footer {
  background-color: #3E716A;
}

footer .contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer img {
  height: 35px;
  margin: 10px;
}

footer p {
  margin: 10px 0 0 0;
  padding: 5px;
  color: #222222;
  font-size: 200;
  font-family: "Tahoma";
  text-align: center;
}